body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex-wrapper{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    justify-content: flex-start;
}
.pointer{
    cursor: pointer;
}
.custom-check{
    transform: scale(1.5);
}
.removeRow{
    width: 10px;
}
.hidden-item{
    visibility: hidden !important;
}
/* spinner  */
 /* loader */
 .overlay {
     display: none;
     position: fixed;
     width: 100%;
     height: 100%;
     background: #fff;
     z-index: 1000 !important;
     opacity: 0.7;

 }

 .loader {
     display: none;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 10px solid #333;
     position: relative;
     margin: 0 auto;
     top: 30%;
     animation: loader 2s linear infinite;
 }

 @keyframes loader {
     50% {
         opacity: 0.5;
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .loader:after {
     content: "";
     width: 35px;
     height: 35px;
     background: #333;
     position: absolute;
     border-radius: 50%;
     top: -20px;
     left: 55px;
 }

 .loader:before {
     content: "";
     width: 0;
     height: 0;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-bottom: 15px solid #333;
     position: absolute;
     transform: rotate(-90deg);
     top: -10px;
     left: 39px;
 }

 /* loader stop here */

 #quickFlash{
    display: none;
    /* Hidden by default */
    background: #333;
    color: #fff;
    padding: 12px;
    float: center;
    outline: none;
    position: fixed;
    border-radius: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 80px;
    /* margin-top: 10% !important; */
    z-index: 999999 !important;
    transition: 2s ease;
 }

.footer{
    margin-top: auto;
}
