body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex-wrapper{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    justify-content: flex-start;
}
.pointer{
    cursor: pointer;
}
.custom-check{
    transform: scale(1.5);
}
.previewImg{
    width: 100px;
}
.removeRow{
    width: 10px;
}
.hidden-item{
    visibility: hidden !important;
}
.text-white{
    /* visibility: hidden !important; */
}

.ellipsis-text{
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

/* spinner  */
.overlay {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 9999 !important;
    top: 0 !important;
    left:0 !important;
    right: 0 !important;
    bottom:0 !important;
}

.spiner {
    position: relative;
    width: 30px;
    height: 30px;
    top: 30% !important;
    left: 50% !important;
    border-radius: 10%;
    animation: scale 2.2s infinite;
    float: center;
}

.spiner span:nth-child(1) {
    left: 0;
    top: 0;
    background: rgb(36, 172, 50);
    /* border-top-left-radius: 100%; */
}

.spiner span:nth-child(2) {
    left: 0;
    bottom: 0;
    background: rgb(12, 99, 171);
    /* border-bottom-left-radius: 100%; */
}

.spiner span:nth-child(3) {
    right: 0;
    top: 0;
    background: rgba(255, 0, 0, 0.808);
    /* border-top-right-radius: 100%; */
}

.spiner span:nth-child(4) {
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 10);
    /* border-bottom-right-radius: 100%; */
}

@keyframes scale {
    50% {
        width: 100px;
        height: 100px;
        transform: rotate(270deg);
    }
}

.spiner span {
    opacity: .7;
    position: absolute;
    animation: rotate 2.2s infinite;
    width: 20px;
    height: 20px;
}

@keyframes rotate {
    50% {
        border-radius: 100%;
        opacity: 1;
    }
}

 /* loader stop here */

 #quickFlash{
    display: none;
    /* Hidden by default */
    background: #333;
    color: #fff;
    padding: 12px;
    float: center;
    outline: none;
    position: fixed;
    border-radius: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    top: 80px;
    /* margin-top: 10% !important; */
    z-index: 999999 !important;
    transition: 2s ease;
 }

.footer{
    margin-top: auto;
}

@media screen and (max-width:760px) {
        
            .table-bordered.card-able {
                border: 0 !important;
                width: 100% !important;
            }
        
            .card-able {
                border: 0 !important;
                width: 100% !important;
                left: 0 !important;
                right: 0 !important;
            }
        
            .card-able>thead {
                display: none;
            }
        
            .card-able{
                display: flex;
                justify-content: space-between;
            }
        
            .card-able>tbody tr {
                flex-basis: 100%;
                flex-grow: 1;
                float: left;
                width: 100%;
                margin: 0.5em;
                border: 1px solid #bfbfbf;
                border-radius: 0.5em;
                background-color: transparent !important;
                box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
                margin-bottom: 5px;
            }
            .card-able>tbody tr {
                flex: 1 0 50%;  
            }
        
            .card-able>tbody tr td {
                display: block;
                border: 0;
            }

            .colHeader,#tfoot{
                display: block;
            }
                        .studentTotal {
                            width: 50% !important;
                        }
}